# Auto detect text files and perform LF normalization
* text=auto
Ruin[[:space:]]Hunters/Assets/3D[[:space:]]Fill[[:space:]]Material[[:space:]]2.png filter=lfs diff=lfs merge=lfs -text
Ruin[[:space:]]Hunters/Assets/Prefab/DesertM.prefab filter=lfs diff=lfs merge=lfs -text
